importlib-metadata==3.2.0
click==7.1.1
editdistance
nltk==3.6.3
pandas>=1.0.1
scikit-learn
torch
transformers
datasets
tokenizers
ltp
spacy>=3.0.0
morfessor
flashtext
wikidata
fuzzywuzzy
plotly
pypinyin
Pinyin2Hanzi

